* {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
img {
  border: 0;
  vertical-align: middle;
}
a {
  color: #c3c0c0;
  text-decoration: none;
}
a:hover {
  color: #e33333;
}
body {
  background-color: rgb(60, 127, 58);
}
/*轮播元素设置*/
.slide {
  position: relative;
  background-color: #a38f8f;
  width: 400px;
  height: 400px;
  margin: 25px;
  overflow: hidden;
}
.slide ul {
  width: 500%;
  position: absolute;
  top: 0;
  left: 0;
}
.slide ul li {
  float: left;
}
.arrow-r,
.arrow-l {
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  background: rgba(0, 0, 0, 0.3);
  text-align: center;
  line-height: 40px;
  color: #fff;
  font-family: "icomoon";
  font-size: 18px;
  z-index: 2;
}
.arrow-r {
  right: 0;
}
.slide img {
  width: 400px;
}
.circle {
  position: absolute;
  bottom: 10px;
  left: 50px;
}
.circle li {
  float: left;
  width: 5px;
  height: 5px;
  border: 2px solid rgba(30, 29, 29, 0.5);
  margin: 0 3px;
  border-radius: 50%;
  cursor: pointer;
}
.current {
  background-color: #fff;
}
