* {
  margin: 0;
  padding: 0;
  left: 0;
}

.focus {
  overflow: hidden;
  position: relative;
  padding-top: 20px;
  text-align: center;
}
.focus li {
  list-style: none;
}
.focus ul {
  overflow: hidden;
  width: 500%;
  margin-left: -100%;
}
.focus ul li {
  float: left;
  width: 20%;
}
.focus img {
  position: relative;
  width: 100%;
  border: 0;
  vertical-align: middle;
}
.focus ol {
  position: absolute;
  bottom: 5px;
  right: 5px;
  margin: 0;
}
.focus ol li {
  display: inline-block;
  width: 5px;
  height: 5px;
  background-color: rgb(66, 147, 4);
  border-radius: 2px;
}
.focus ol li.current {
  width: 15px;
}
